@import "tailwindcss";

@theme {
  --color-primary: #099789;
}

/* Thin scrollbar for Webkit browsers */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 3px;
}

/* For Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #f0f0f0;
}

/* Hide arrows for number inputs (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for number inputs (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}